{{ ansible_managed | comment }}

{% for app in rsyslog_d_apps %}
input(type="{{ app.input | default ('imfile') }}"
         File="{{ app.file }}"
         Tag="{{ app.tag }}"
         Severity="{{ app.severity | default ('notice') }}"
         Facility="{{ app.facility | default ('local3') }}"
)
{% endfor %}
