{{ ansible_managed | comment }}

{% for item in rsyslog_d_forward %}
{% if item.template is defined %}
$template {{ item.name }}, {{ item.template }}
{% endif %}

*.* action(type="omfwd" Target="{{ item.server }}" Port="{{ item.port }}" Protocol="{{ item.proto }}"
{% if item.template is defined %}
        template="{{ item.name }}"
{% endif %}
{% for option in item.options %}
        {{ option }}
{% endfor %}
)
{% endfor %}
