# {{ ansible_managed }}
# /etc/rsyslog.conf configuration file for rsyslog
#
# For more information install rsyslog-doc and see
# /usr/share/doc/rsyslog-doc/html/configuration/index.html
#

#################
#### MODULES ####
#################
{{ rsyslog_modules_conf }}

###########################
#### GLOBAL DIRECTIVES ####
###########################
{{ rsyslog_global_conf }}

###############
#### RULES ####
###############
{{ rsyslog_rules_conf }}

#
# Where to place spool and state files
#
$WorkDirectory {{ rsyslog_working_dir }}

#
# Include all config files in /etc/rsyslog.d/
#
$IncludeConfig /etc/rsyslog.d/*.conf
